.app {
  margin: 0;
  padding: 0;
}

.main-header {
  display: flex;
  flex-direction: row;
  font-size: 75px;
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 2rem;
  border-bottom-style: solid;
  border-bottom: 0.3rem solid #a1a1a1;
  padding-bottom: 0.5rem;
  border-bottom-width: 5px;
}

.file-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 2rem;
}

.input-max {
  display: flex;
  margin: auto;
  margin-top: 1rem;
  border-radius: 0.3rem;
  outline: none;
  transition: border-color 0.2s ease;
}

.input-max:focus {
  border-color: #ff7070;
}

.button-div {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
}

.selection-button {
  display: flex;
  font-size: 1rem;
  white-space: nowrap;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.selection-button.left {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.selection-button.right {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.tag-cloud {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 4rem;
  gap: 0.5rem;
  width: 60rem;
}